html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
b,
u,
i,
ol,
ul,
li,
a,
article,
aside,
footer,
header,
input,
nav,
section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   overflow-x: hidden;
   list-style: none;
}

img {
   max-width: 100%;
}

a {
   cursor: pointer;
   text-decoration: none;
}

.header {
   background: linear-gradient(#f1c0e8, #cfbaf0, #98f5e1, #ffcfd2);
   max-width: 100%;
   height:180px
}
.container{
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
 
   justify-items: center;
   align-items: center;
}
.navegacao {
   display: flex;
   padding: 10px;
   gap: 10px;
   flex-wrap: wrap;

}

.navegacao a {

   padding: 16px 0px;
   position: relative;
   font-size: 1.2rem;
   color: rgba(0, 0, 0, 0.6);
   font-family: "Poppins";
   display: block;
}

.navegacao a:after {
   content: "";
   display: block;
   height: 2px;
   width: 0px;
   background: #fec5bb;
   margin-top: 4px;
   transition: 0.3s;
   position: absolute;

}

.navegacao a:hover::after,
.navegacao a.ativo::after {
   width: 100%;
}


.logo {

   width: 390px;
   margin-left: 100px;
}

.carrinho {
   display: block;
   justify-content: flex-end;
   max-width: 50px;
   grid-column-gap: 50px;
   padding: 5px;
}

.banner {
   margin: 0;
}

a:hover {
   color: #073b4c;
   transition: 0.3s;
}

h1 {
   font-size: 1.875rem;
   font-family: "Playfair Display";
   text-align: center;
   margin-bottom: 15px;

}

h6 {
   font-size: 1.375rem;
   font-family: "Playfair Display";
   justify-items: center;
   text-align: center;
   margin-bottom: 15px;
   color: rgba(0, 0, 0, 0.9);
}

p {
   font-size: 1.475rem;
   font-family: "Playfair Display";
   justify-items: center;
   text-align: center;
   margin-bottom: 15px;
   color: rgba(0, 0, 0, 0.8);
}

button {
   background-color: #fec5bb;
   padding: 15px;
   width: 155px;
   border: 2px solid #f72585;
   cursor: pointer;
   border-radius: 4px;
   height: 45px;
   font-size: 1.2rem;
}

span {
   font-size: 1.375rem;
   font-family: "Playfair Display";
   color: rgba(0, 0, 0, 0.6);
   text-align: end;
   margin-left: 50px;

}

.busca {
   padding: 15px;
   border: 2px solid #ffcfd2;
   border-radius: 4px;
   font-size: 1.1rem;
   outline: none;
}

.busca input:focus {
   background-color: #cfbaf0;
}


.sessao1 img,
.sessao2 img,
.sessao3 img {
   max-width: 680px;
   height: 350px;
   flex-wrap: wrap;
   align-items: flex-end;
   margin-bottom: 30px;
   justify-content: space-around;
   border-radius: 4px;
   margin-top: 50px;
   box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.6);

}

.sessao4 {
   background-color: rgba(0, 0, 0, 0.1);
   align-items: flex-end;
   border-radius: 4px;
   margin-top: 50px;
}

.sessao4 p {
   padding: 10px;
}

.sessao4 img {
   margin-left: 50%;
}

.rosas {
   color: #d90429;
}

.sessao1,
.sessao2,
.sessao3 {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: space-around;
   padding: 30px;

}

.footer p {
   background: linear-gradient(#f1c0e8, #cfbaf0, #98f5e1, #ffcfd2);
   height: 60px;
   text-align: center;
   font-size: 1.675rem;
   font-family: "Roboto";
   text-transform: uppercase;
   padding: 30px;
}



/*Medias Queries*/
@media (min-width:340px) and (max-width:767px) {
   .banner img {
      max-width: 100%;
   }

   .logo {
      display: none;
   }
.busca{
   margin-left: 10px;
}
.carrinho{
   max-width: 30px;
}
   .header {
      display: flex;
      padding: 4px;
      justify-content: start;
      gap: 3px;
      flex-wrap: wrap;
      height: 150px;

   }
.navegacao a{
 
   margin: 0;
   padding: 0;
   gap: 0;
   display: flex;
   flex-wrap: wrap;
}
}
@media (min-width:768px) and (max-width:960px) {

   .logo img{
   max-width: 399px;
      padding: 6px;
    margin: 0px;

   }
 
.navegacao{
   gap: 40px;
  
}
.navegacao a{
   margin-left: 30px;
margin-top: 90px;
gap: 40px;
justify-content: space-around;
font-size: 1rem;
}
.busca{
   margin-left:400px;

}
.sessao1 img,
.sessao2 img,
.sessao3 img {
   display: grid;
   grid-template-columns: 2fr;
   justify-content: space-around;
   max-width: 280px;
   margin-top: 30px;
   margin-bottom: 10px;
}
}


@media (min-width:691px) and (max-width:1020px) {

   .logo{
      max-width: 200px;
      padding: 6px;
    margin: 0px;
   }
   .header {
      display: flex;
      justify-content: start;
      gap: 3px;
      flex-wrap: wrap;
      height: 150px;

   }
   .container{
    
   }
   .navegacao{
      
    margin-left: 200px;
 
      }
   .navegacao a{
      font-size: 1.2rem;
   }


}
@media (min-width:1021px) and (max-width:1600px) {

   .logo{
      max-width: 250px;
      padding: 10px;
    margin: 0px;
   }
   .header {
      display: flex;
      justify-content: start;
      gap: 3px;
      flex-wrap: wrap;
      height: 150px;

   }
   .navegacao a{
      font-size: 1.6rem;
   }


}


